@import "tailwindcss";

html {
  font-family: system-ui;
}

code {
  background: oklch(37% 0.013 285.805);
  border-radius: 5px;
  color: white;
  padding: 5px;
}

pre {
  background: oklch(37% 0.013 285.805);
  max-width: 100%;
  overflow: auto;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.guide a {
  text-decoration: underline;
  color: oklch(52.7% 0.154 150.069);
}

@media (prefers-color-scheme: dark) {
  .guide a {
    text-decoration: underline;
    color: cyan;
  }
}